*{
    box-sizing: border-box;
    margin: 0;
}   

body{
    width: 100vw;
    height: 100vh;
}

:root{
    --side-bar-width: 50px;
    --margin-top-bottom: 5vh;
    --border-radius: 1rem;
    --backfround-color: linear-gradient(rgb(0, 0, 0), rgb(54, 57, 58),rgb(7, 7, 7)); /*fix later */
}


/* main */
main{
    background-color: rgb(169, 211, 245);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container-main{
    width: auto;
    height: auto;
    background-color: rgba(121, 180, 235, 0.726);
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-template-rows: 100px 1fr 300px;
    grid-template-areas: "bar bar bar"
    "weather img temp"
    "week week week" ;
   border-radius: var(--border-radius);
}

#main-info{
   display: flex;
   flex-direction: column;
}
#image{
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image > *{
   width: 500px;
   height: 300px; 
}
.days{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}
#week{
    display: flex;
    justify-content: center;
    align-self: center;
    grid-area: week;
}
#bar{
    grid-area: bar;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#temp{
    grid-area: temp;
}
