*{
    box-sizing: border-box;
    margin: 0;
}   

body{
    width: 100vw;
    height: 100vh;
}

:root{
    --side-bar-width: 50px;
    --margin-top-bottom: 5vh;
    --backfround-color: linear-gradient(rgb(0, 0, 0), rgb(54, 57, 58),rgb(7, 7, 7)); /*fix later */
}


/* main */
main{
    background-color: aqua;
    width: 100%;
    height: 100%;
    display: block;
}
#container-main{
    background-color: rgb(159, 177, 194);
   display: grid;
}

#main-info{
   
   
}

.days{
    display: flex;
}

